@import "./parts/mixins-variables.scss";
@import "./parts/keyframes.scss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.flow {
  @include grid(repeat(10, 1fr), repeat(10, 1fr));
  @include height-width(100vh, 100vw);
  background-color: rgba(108, 105, 111, 1);
  background-image: linear-gradient(
    330deg,
    rgba(108, 105, 111, 1) 0%,
    rgba(0, 0, 0, 1) 85%
  );
}

/* SECTION HEADER */
.header {
  @include grid(subgrid, subgrid);
  font-family: $font-frontal;
  word-spacing: 0.5em;
  letter-spacing: 2px;
  text-justify: auto;
  grid-area: 1 / 1 / 2 / -1;
  overflow: hidden;
  color: $mainColorTheme;

  &__title {
    @include height-width(min-content, auto);
    @include flex(center, row);
    margin-inline: 1rem;
    grid-area: 1 / 3 / 2 / 6;
    font-size: clamp(0.75rem, 0.144rem + 2.769vi, 3rem);
  }
}

.mainGameWindow {
  @include grid(auto 1fr auto, 0.5fr 3fr 0.5fr);
  @include border-radius(solid 2px $mainColorTheme, 15px);
  @include bc-mainColorTheme(0.1);
  grid-area: 2 / 2 / 10 / 10;
  gap: 0.5em;
  font-family: $font-content;
  font-size: clamp(0.75rem, 0.375rem + 1.333vw, 1.75rem);
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
  box-shadow: 0px 20px 24px 0px rgba(255, 255, 255, 1);
  overflow: hidden;

  // @container
  container-type: inline-size;
  container-name: game-window;

  &__imgContainer {
    @include grid(1fr, 1fr 1fr);
    max-width: 100vw;
    grid-area: 1 / 1 / 3 / 4;
    align-items: center;
    justify-items: center;
  }

  &__imgPlayerMove,
  &__imgComputerMove {
    @include border-top-left;
    @include height-width(70%, 70%);
    @include flex(center, row);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3.5px);
    transition: transform 0.3s ease;

    &::before {
      @include glass-effect(80vw);
    }

    &:hover::before {
      transform: skewX(45deg) translateX(-50vw);
      // background-color: rgba(255, 255, 255, 0.5);
      // @include bc-mainColorTheme(0.5);
      z-index: -11;
    }

    &:hover {
      filter: brightness(1.2);
      -webkit-filter: brightness(1.2);
      -moz-filter: brightness(1.2);
      transform: scale(1.05);

    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__shake {
    &:hover {
      animation: 0.45s shake 2;
      width: 100%;
      height: 100%;
      transition: 3s;
    }
  }

  /* SCORE */
  &__scoreContainer {
    @include grid(1fr, 0.1fr auto 0.1fr);
    grid-area: 1 / 1 / 3 / -1;
  }

  &__points {
    @include flex(start, column);
    text-transform: uppercase;
    pointer-events: none;
    padding: 2vmin;

    &--playerPoints {
      grid-column: 1 / 2;
    }

    &--cpuPoints {
      grid-column: 3 / 4;
    }
  }

  &__computerScore,
  &__playerScore {
    @include height-width(min-content, min-content);
    border-radius: 15px;
    text-align: center;
    font-size: 10em;
    @include infoContentColor(0.6);
    z-index: -1;
  }

  /* MESSAGES */
  &__messageContainer {
    @include infoContentColor(0.9);
    grid-area: 3 / 2 / 4 / 3;
    text-align: center;
    letter-spacing: 2px;
    pointer-events: none;
  }

  &__messages {
    font-size: clamp(0.75rem, -2.0625rem + 9vw, 3rem);
    // zmienia położenie przy wyswietlaniu @container pomyśl o rozwiazaniu tego problemu i spróbuj ustawic to na stałe w jednym miejscu
  }

  /* BUTTONS */
  &__gameButtons {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
  }

  &__button {
    padding: 10px 20px;
    position: relative;
    margin: 3vmin;
    color: transparent;
    // border: none;
    font-size: 16px;
    cursor: pointer;
    // stwórz osobna klasę dla wszystkich elementów na platformie, albo stwórz mixin i użyj w kazdym elemencie, poniżej wszystkie właściwości platformy
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    // border: 1px 0 0 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    // backdrop-filter: blur(100px);

    &::before {
      @include glass-effect(30vw);
      z-index: 11; //rozjaśniasz tylko ikone nie tło ten selektor prowadzi do ikony
    }
    &:hover {
      filter: brightness(1.2); /* Rozjaśnia kolor o 20% */
      -webkit-filter: brightness(1.2); /* Safari */
      -moz-filter: brightness(1.2); /* Firefox */
      // z-index: 11;
    }

    &:hover::before {
      transform: skewX(45deg) translateX(-30vw);
    }
  }
}

// @container
@container game-window (max-width: 769px) {
  .mainGameWindow {
    &__imgContainer {
      grid-template: repeat(1fr) / 1fr;
      height: 55vh; //podniosłem kontener wyżej
    }

    &__scoreContainer {
      height: 15vh;
    }

    &__gameButtons {
      max-width: min-content;
      width: 100%;
      border-radius: 15px;
      // background-color: #00000050;
      // border: 1px solid #ffffff30;
      padding: 2rem;
      backdrop-filter: blur(12px);
      justify-content: center;
      gap: 1.5rem;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #00000020;
        z-index: -1;
        border-radius: inherit;
        transition: inset 500ms ease-in-out;
      }

      &:hover::before {
        inset: -2rem;
        transition-timing-function: cubic-bezier(0.47, 1.64, 0.41, 0.8);
      }
    }

    &__button {
      // background-color: #00000050;
      // border: 1px solid #ffffff30;
      padding: 1rem;
      width: 15vw;
      height: 7vh;
      // aspect-ratio: 1/1;
      // border-radius: 5px;
      outline: none;
      overflow: hidden;
      cursor: pointer;
      transition: 300ms ease-in-out;
      position: relative;
      isolation: isolate;
      color: #ffffff90; //daj ciemniejszy jako nieaktywny
      border-radius: 15px;
      border: none;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      @include bc-mainColorTheme(0.25);

      &:hover {
        // background-color: greenyellow; //niżej jest właściwość bc która nadpisuje ta
        transition: all 300ms ease-in-out 150ms;
        translate: 0 10px;
      }

      &:focus-visible,
      &:hover {
        transform: scale(1.15);
        z-index: 10;
        // color: #fff;
        // background-color: rgba(var(--bg), 0.5); // w przypadku  bc transparent użyty w &__button dla małych ekranów własciwosc nie działa
      }

      &:has(button:focus-visible) button:not(:focus-visible),
      &:has(button:hover) button:not(:hover) {
        opacity: 50%;
        scale: 85%;
        z-index: -10;
      }
    }

    &__content {
      position: absolute;
      color: $mainColorTheme; // tu daj troszkę ciemniejszy kolor niż po najechaniu na button dla kontrastu żeby była rożnica po najechaniu i bez
      width: 100%;
      font-size: 1rem;
      text-transform: uppercase;
      // opacity: 0;
      left: 0;
      bottom: 0.5rem;
      padding: 0.3rem;
      text-align: center;
      transition: all 150ms ease-in-out 0ms;
      outline: none;
      translate: 0 10px; //zobacz czy mozesz zredukowac liczbę tych właściwości bez utraty funkcjonalności

      &:hover {
        opacity: 1;
        translate: 0;
        transition: all 300ms ease-in-out 150ms;
      }
    }

    // &__button {
    //   // background-image: none;
    //   color: $mainColorTheme; // Przywróć kolor tekstu
    //   // background-color: $backgroundColor;
    //   width: auto; // Przywróć automatyczną szerokość
    //   height: auto; // Przywróć automatyczną wysokość
    //   padding: 10px 20px; // Przywróć padding
    // }
  }
}

@container game-window (min-width: 769px) {
  .mainGameWindow {
    &__button {
      @include border-top-left;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      cursor: pointer;
      color: transparent;
      width: clamp(100px, 15vw, 150px);
      height: clamp(100px, 15vw, 150px);
      padding: 0;

      &--rock {
        background: url(../images/rock/rock_button.png);
      }
      &--paper {
        background: url(../images/paper/paper_button.png);
      }
      &--scissors {
        background: url(../images/scissors/scissors_button.png);
      }
    }
  }
}

// Fallback with @media for browsers that don't support @container
// @supports not (container-type: inline-size) {
//   @media (max-width: 768px) {
//     .mainGameWindow {

//       &__imgContainer {
//         grid-template: repeat(1fr) / 1fr;
//         height: 55vh; //podniosłem kontener wyżej

//         img {
//           max-width: 100%;
//           height: auto;
//         }
//       }

//       &__scoreContainer {
//         height: 15vh;
//       }

//       &__points {
//         flex-direction: column;
//         writing-mode: horizontal-tb;
//         text-orientation: mixed;
//         justify-content: start;
//         margin: 0.5em;
//         font-size: 2.5em;
//       }

//       &__player {
//         letter-spacing: 0.4em;

//       }
//     }
//   }
// }
