@import "./parts/mixins-variables.scss";
@import "./parts/keyframes.scss"; 
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Grey+Qo&display=swap');


.flow {
  @include grid(repeat(10, 1fr), repeat(10, 1fr));
  @include height-width(100vh, 100vw);
  background: linear-gradient(135deg, #ffffff 0%, #d6d6d7 100%)
}

/* SECTION HEADER */
.header {
  @include universalCentralPositioning;
  grid-area: 1 / 1 / -1 / -1;
  overflow: hidden;
  color: $whiteColorPalette;

  &__title {
    @include height-width(min-content, 60%);
    @include border-radius(0.15em solid $darkColorPalette, 0.45em);
    @include margin-padding(1rem, 0.35em 1em);
    position: relative;
    top: -1.5vh;
    display: inline;
    word-spacing: 0.3em;
    letter-spacing: 0.6em;
    text-transform: uppercase;
    grid-area: 1 / 2 / 2 / 6;
    font-size: clamp(1rem, 0.5rem + 1.333vw, 1.7rem);
    color: $darkColorPalette;
    cursor: pointer;
    // background-color: $darkColorPalette;
    background-color: transparent;
    perspective: 2em;
    font-family: $font-frontal;
    font-weight: 900;
    text-transform: uppercase;
    box-shadow: inset 0px 0px 0.5em 0px $darkColorPalette,
    20px 20px 38px 10px rgba(66, 68, 90, 1);
      text-shadow: 6px 6px 10px rgba(66, 68, 90, 1);
    // animation: border-flicker 6s linear infinite;
    z-index: 10;
     
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.7;
        z-index: -1;
        color: $darkColorPalette;
        // box-shadow: 0 0 3em 0.9em $infoColorPalette;
        // transition: opacity 100ms linear;
        transform: rotateX(180deg) scale(1.02);
        // filter: blur(1em);
      }
      &:hover {
        @include border-radius(0.15em solid $darkColorPalette, 0.45em);
        color: $darkColorPalette;
        background-color: $infoColorPalette;
        box-shadow: inset 0px 0px 0.5em 0px $darkColorPalette,
      0 0 3em 0.9em $infoColorPalette;
      text-shadow: 6px 6px 10px rgba(66, 68, 90, 1);
      // SKOPIUJ TEN BOX SHADOW DO KEYFRAMSA PLATFORM-BORDER-FLICKER I ZMNIEJSZ TROCHĘ INTENSYWNOŚ
      }

      &:hover .header__text {
        // animation: none;
        text-shadow: 6px 6px 10px rgba(66, 68, 90, 1);
      }

      &:hover .header__faulty-letter, .header__other-faulty-letter {
        // animation: none;
        // opacity: 1;
        text-shadow: 6px 6px 10px rgba(66, 68, 90, 1);
      }

      //TU COŚ NAMIESZANE Z SELEKTORAMI I HOVEREM JAK WŁACZAM ZAKOMENTOWANE OPCJE PRZESTAJE PRAWIDŁOWO DZIAŁA
  }

  &__subtitle {
    text-transform: lowercase;
    font-family: $font-subtitle;
    font-size: 1.5em;
  }

  &__text {
    margin-right: -0.8em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em $infoColorPalette;
    animation: text-flicker 3s linear infinite;
  }

  &__faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }

  &__subtitle-faulty-letter {
    opacity: 1;
    animation: faulty-flicker 2s linear infinite;
  }

}

.mainGameWindow {
  @include grid(3fr 0.2fr 2fr, 0.5fr 3fr 0.5fr);
  // @include platform;
  @include box-shadow;
  @include bgc-whiteColorPalette(0.1);
  @include margin-padding(0 0 2vh 0, 0);
  @include height-width(85vh, 60vw);
  @include border-radius(16px solid $darkColorPalette, 0.75em);
  position: relative;
  grid-area: 2 / 4 / 11 / 8;
  font-family: $font-content;
  font-size: clamp(0.75rem, 0.375rem + 1.333vw, 1.75rem);
  text-shadow: 4px 4px 5px $darkColorPalette;
  top: 3.5vh;
  overflow: hidden;
  // animation: main-border-flicker 2.5s linear infinite;


  // @container
  container-type: inline-size;
  container-name: game-window;

  &__imgContainer {
    @include grid(1fr, 1fr 1fr);
    @include universalCentralPositioning;
    grid-area: 1 / 1 / 4 / 4;
    max-width: 100vw;
    z-index: 11;
  }

  &__imgPlayerMove,
  &__imgComputerMove {
    @include height-width(65%, 65%);
    @include flex(center, row);
    @include platform;
    @include bgc-darkColorPalette(0.1);
    // background-color: $darkColorPalette;
    
    z-index: inherit;

    &::before {
      @include glass-effect(100vw);
    }

    &:hover::before {
      transform: skewX(45deg) translateX(-50vw);
    }

    &:hover {
      @include bgc-darkColorPalette(0.2);
      transform: scale(1.06);
      filter: brightness(1.1);
      -webkit-filter: brightness(1.1);
      -moz-filter: brightness(1.1);

    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__shake {
    &:hover {
      animation: 0.45s shake 2;
      width: 100%;
      height: 100%;
      transition: 3s;
    }
  }

  /* SCORE */
  &__scoreContainer {
    @include grid(1fr, 0.1fr auto 0.1fr);
    grid-area: 1 / 1 / 3 / -1;
  }

  &__points {
    @include flex(start, column);
    position: relative;
    top: -5vh;
    text-transform: uppercase;
    pointer-events: none;
    padding: 2vmin;
    z-index: 10;

    &--playerPoints {
      grid-column: 1 / 2;
    }

    &--cpuPoints {
      grid-column: 3 / 4;
    }
  }

  &__computerScore,
  &__playerScore {
    @include height-width(min-content, min-content);
    @include universalCentralPositioning;
    position: relative;
    left: -1vw;
    // @include c-infoColorPalette(0.6);
    color: $scoreColorPalette;
    // text-shadow: inset 0px 0px 0.5em 0px $infoColorPalette,
    // 0px 0px 0.5em 0px $infoColorPalette;;
    font-size: 10em;
    text-shadow: 8px 8px 5px $darkColorPalette; //dopierdol szarego i zostaw cienie w beforku
    z-index: inherit;

    &::before {
      content: attr(data-score);
      position: absolute;
      top: 0;
      left: 1;
      transform: scale(1.05);
      right: 0;
      bottom: 1;
      letter-spacing: -0.025em;
      color: $whiteColorPalette;
      font-size: 1em;
      z-index: -11;
    }
  }

  /* MESSAGES */
  &__messageContainer {
    @include c-infoColorPalette(0.9);
    grid-area: 3 / 2 / 4 / 3;
    @include universalCentralPositioning;
    letter-spacing: 2px;
    pointer-events: none;
    position: relative;
    top: 13vh;
    z-index: 11;
  }

  &__messages {
    font-size: 2em;
  }

  /* BUTTONS */
  &__gameButtons {
    @include border-radius(solid 5px $darkColorPalette, 0.75em 0.75em 0 0);
    @include bgc-darkColorPalette(0.1);
    @include universalCentralPositioning;
    @include box-shadow;
    position: relative;
    top: 0.5vh;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    bottom: 0.1vh;
    padding: 2vh;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: inherit;
      z-index: -1;
      border-radius: inherit;
      transition: inset 500ms ease-in-out;
    }

    &:hover::before {
      inset: -2rem;
      transition-timing-function: cubic-bezier(0.47, 1.64, 0.41, 0.8);
    }

    button {
      @include platform;
      @include bgc-darkColorPalette(0.2);
      @include margin-padding(2vmin 1vmin, 2vh);
      position: relative;
      color: transparent;
      font-size: 16px;
      cursor: pointer;
      transition: 300ms ease-in-out;
  
      &::before {
        @include glass-effect(50vw);
      }
      
      &:focus-visible,
      &:hover {
        @include bgc-darkColorPalette(0.3);
        transform: scale(1.15);
        z-index: 9;
        border-top: 0.50em solid rgba(192, 255, 97, 0.5);
        border-left: 0.25em solid rgba(192, 255, 97, 0.5);
        border-bottom: 0.1em solid rgba(192, 255, 97, 0.5); ;
        border-right: 0.1em solid rgba(192, 255, 97, 0.5);
      }
  
      &:hover::before {
        transform: skewX(45deg) translateX(-30vw);
        
      }
    }

    &:has(button:focus-visible) button:not(:focus-visible),
    &:has(button:hover) button:not(:hover) {
      opacity: 80%;
      scale: 85%;
      z-index: 8;
    }
  }
}

@container game-window (max-width: 769px) {
  .mainGameWindow {

    &__imgContainer {
      grid-template: repeat(1fr) / 1fr;
      height: 45vh;
    }

    &__imgPlayerMove,
    &__imgComputerMove {
      @include height-width(70%, 85%);
    }

    &__scoreContainer {
      height: 15vh;
    }

    &__messageContainer{
      font-size: 1.3em;
      top: 11vh;
      z-index: -11;
    }

    &__gameButtons {

      display: inline;
      @include grid(1fr,3fr);
      gap: 0;
    }

    &__button {
      @include bgc-whiteColorPalette(0.25);
      @include height-width(5vh, 80%);
      outline: none;
      overflow: hidden;
      cursor: pointer;
      transition: 300ms ease-in-out;
      position: relative;
      isolation: isolate;
    
      &:hover {
        translate: 0 10px;
        transform: scale(1.15);
      }
    }

    &__content {
      position: absolute;
      color: $whiteColorPalette;
      @include height-width(100%, 100%);
      font-size: 1.3rem;
      font-weight: 700;
      text-transform: uppercase;
      text-shadow: 0 0 3px $whiteColorPalette, 0 0 2px $whiteColorPalette, 0 0 8px $darkColorPalette;
      left: 0;
      bottom: 1em;
      padding: 0.3em;
      text-align: center;
      line-height: 3.1;
      letter-spacing: 0.5em;
      transition: all 150ms ease-in-out 0ms;
      outline: none;
      translate: 0 10px; //zobacz czy mozesz zredukowac liczbę tych właściwości bez utraty funkcjonalności

      &:hover {
        font-size: 1.4rem;
        font-weight: 900;
        text-shadow: 0 0 3px $whiteColorPalette, 0 0 2px $whiteColorPalette, 0 0 4px $infoColorPalette, 0 0 5px $infoColorPalette, 0 0 8px $infoColorPalette, 0 0 10px $infoColorPalette, 0 0 12px $infoColorPalette, 0 0 15px $infoColorPalette;
        opacity: 1;
        translate: 0;
        transition: all 300ms ease-in-out 150ms;
      }
    }
  }
}

@container game-window (max-width: 440px) {
  .mainGameWindow {
    &__content {
      letter-spacing: 0.1em;
      font-size: 0.8rem;

      &:hover {
        font-size: 1rem;
      }
    }
  }
}

@container game-window (min-width: 769px) {
  .mainGameWindow {
    &__gameButtons {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 7em;
        color: $darkColorPalette;
        text-shadow: 6px 6px 3px $whiteColorPalette;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        text-transform: uppercase;
        opacity: 80%;
      }

      &:has(.mainGameWindow__button--rock:hover)::after,
      &:has(.mainGameWindow__button--rock:active)::after {
        content: 'rock';
      }

      &:has(.mainGameWindow__button--paper:hover)::after, 
        &:has(.mainGameWindow__button--paper:active)::after { 
        content: 'paper';
      }

      &:has(.mainGameWindow__button--scissors:hover)::after,
      &:has(.mainGameWindow__button--scissors:active)::after {
        content: 'scissors';
      }
    }

    &__button {
      @include height-width(clamp(100px, 15vw, 150px),clamp(100px, 15vw, 150px));
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      padding: 0;
      cursor: pointer;
      // color: transparent;
      position: relative;
      z-index: 1;

      &:focus,
      &:active {
        outline: none;
      }

      &--rock {
        background-image: url(../images/rock/rock_button.png);
      }
      &--paper {
        background-image: url(../images/paper/paper_button.png);
      }
      &--scissors {
        background-image: url(../images/scissors/scissors_button.png);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn {
    font-size: 1em;
  }
}