
@keyframes move {
  25% {
    transform: translateY(-10vmin);
    opacity: 1;
  }
  50% {
    transform: translateY(-20vmin);
  }
  75% {
    transform: translateY(-30vmin);
  }
}

@keyframes shake {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-50px);
  }
}