/* VARIABLES */
$font-frontal: "Monoton", cursive;
$font-content: "Bebas Neue", sans-serif;
$backgroundColor: rgb(0, 0, 0);
$mainColorTheme: rgb(255, 255, 255);
$infoContentColor: rgb(192, 255, 97);

/* GLOBAL */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* MIXINS */
@mixin button-platform {
  @include border-top-left;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3.5px);
  transition: transform 0.3s ease;
}


@mixin infoContentColor($opacity) {
  color: rgba(192, 255, 97, $opacity);
}

@mixin bc-mainColorTheme($opacity) {
  background-color: rgba($mainColorTheme, $opacity);
}

@mixin grid($gt-rows, $gt-columns) {
  display: grid;
  grid-template-rows: $gt-rows;
  grid-template-columns: $gt-columns;
}

@mixin letter-spacing($spacing) {
  // podmień w cssach i usuń mixin (nie stosuj pojedyńczych
  letter-spacing: $spacing;
}

@mixin flex($justify-content, $flex-direction) {
  justify-content: $justify-content;
  display: flex;
  align-items: center;
  flex-direction: $flex-direction;
}

@mixin height-width($height, $width) {
  height: $height;
  width: $width;
}

@mixin border-radius($border, $radius) {
  border: $border;
  border-radius: $radius;
}

@mixin border-top-left {
  border: none;
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-left: 3px solid rgba(255, 255,255, 0.5); 
}

@mixin position-top($position, $top) {
  position: $position;
  top: $top;
}

@mixin margin-padding($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

@mixin text-shadow {
  text-shadow: -1px -1px 6px $mainColorTheme, 1px 1px 6px $mainColorTheme,
    0 0 20px $mainColorTheme;
}

@mixin box-shadow {
  box-shadow: 0 0 10px $mainColorTheme, inset 0 0 10px $mainColorTheme,
    0 0 10px 4px $mainColorTheme, inset 0 0 10px 4px $backgroundColor;
}

@mixin glass-effect($translateX) {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX($translateX);
  transition: 500ms;
}
