/* ---------- TYPOGRAPHY ---------- */

/* ---------- VARIABLES ----------*/
$font-frontal: "Anton", sans-serif;
$font-content: "Bebas Neue", sans-serif;
$font-subtitle: "Grey Qo", cursive;

/* ---------- MAP FUNCTIONS ---------- */

// colors //
$theme-colors: (
  "darkColorPalette": oklch(0 0 0),
  "whiteColorPalette": oklch(1 0 0),
  "winningColorPalette": oklch(0.89 0.22 86.3),
  "lossColorPalette": oklch(0.61 0.21 17.5),
  "infoColorPalette": oklch(0.93 0.23 115),
  "shadowsColorPalette": oklch(0.46 0.03 274),
);

@function theme-color($key, $opacity: 1) {
  $color: map-get($theme-colors, $key);

  @if $color {
    @if $opacity < 1 {
      @return oklch(from $color l c h / $opacity);
    } @else {
      @return $color;
    }
  } @else {
    @warn "Color #{$key} not found in theme-colors map.";
    @return null;
  }
}

$boxShadowPrimary: -2px -2px 13px -5px theme-color("darkColorPalette", 0.56)
    inset,
    3px 15px 14px -7px theme-color("whiteColorPalette", 0.56)
    inset,
  5px 5px 20px 5px theme-color("shadowsColorPalette"),
  2px 0 10px theme-color("whiteColorPalette", 0.56);

$boxShadowSecondary: -2px -2px 13px -5px theme-color("darkColorPalette", 0.56)
    inset,
  20px 20px 38px 10px theme-color("shadowsColorPalette"),
  2px 0 30px theme-color("whiteColorPalette", 0.56);

/* ---------- GLOBAL ---------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // outline: 2px solid blue;
  // background: hsl(0 100% 50% / .1)
}

/* ---------- MIXINS ---------- */

@mixin border($colorPalette) {
  border: solid $colorPalette;
  border-width: 0.5em 0.35em 0.1em 0.1em;
  border-radius: 0.75em;
}

@mixin margin-padding($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

@mixin box-shadow {
  box-shadow: 20px 20px 38px 10px rgba(66, 68, 90, 1);
}

@mixin grid($gt-rows, $gt-columns) {
  display: grid;
  grid-template-rows: $gt-rows;
  grid-template-columns: $gt-columns;
}

@mixin height-width($height, $width) {
  height: $height;
  width: $width;
}

// @mixin pseudoElement-before(
//   $height,
//   $width,
//   $top: 0,
//   $left: 0,
//   $radius: 0,
//   $z-index: 0,
//   $opacity: 0
// ) {
//   &::before {
//     content: "";
//     position: absolute;
//     @include height-width($height, $width);
//     inset: 0;
//     top: $top;
//     left: $left;
//     border-radius: $radius;
//     z-index: $z-index;
//     opacity: $opacity;
//   }
// }

// @mixin grid($gt-rows, $gt-columns, $y-start: null, $x-start: null, $y-end: null, $x-end: null) {
//   display: grid;
//   grid-template-rows: $gt-rows;
//   grid-template-columns: $gt-columns;

//   @if $y-start != null and $y-end != null {
//     grid-row: $y-start / $y-end;
//   }

//   @if $x-start != null and $x-end != null {
//     grid-column: $x-start / $x-end;
//   }
// }

@mixin flex($justify-content, $flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: center;
}

// @mixin border-radius($border, $radius) {
//   border: $border;
//   border-radius: $radius;
// }

@mixin position-top($position, $top) {
  position: $position;
  top: $top;
}

@mixin text-shadow($x: 5px, $y: 6px, $blur: 10px, $color: rgba(66, 68, 90, 1)) {
  text-shadow: $x $y $blur $color;
}

@mixin glass-effect($translateX) {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: theme-color(shadowsColorPalette, 0.1);
  transform: skewX(45deg) translateX($translateX);
  transition: 500ms;
}

@mixin glass-effect {
  &::after {
  content: "";
  display: block;
  width: 30px;
  height: 100%;
  position: absolute;
  top: -180px;
  left: 0;
  background-color: theme-color(whiteColorPalette, 0.8);
  opacity: 0;
  transform: rotate(45deg);
  animation: reflect 250ms ease-in-out;
  -webkit-transform: rotate(45deg);
  -webkit-animation: reflect 250ms ease-in-out;
}
}

/* ---------- KEYFRAMES ----------*/

@keyframes shake {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-50px);
  }
}

@keyframes move {
  25% {
    transform: translateY(-10vmin);
    opacity: 1;
  }
  50% {
    transform: translateY(-20vmin);
  }
  75% {
    transform: translateY(-30vmin);
  }
}


@keyframes reflect {
  0%   {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }

  10% {
    transform: scale(0.5) rotate(45deg);
    opacity: 0.3;
  }

  20% {
    transform: scale(1.5) rotate(45deg);
    opacity: 0.6;
  }

  30% {
    transform: scale(2.5) rotate(45deg);
    opacity: 0.8;
  }

  40% {
    transform: scale(3.5) rotate(45deg);
    opacity: 1;
  }

  50% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }

  60% {
    transform: scale(6) rotate(45deg);
    opacity: 0.8;
  }

  70% {
    transform: scale(10) rotate(45deg);
    opacity: 0.6;
  }

  80% {
    transform: scale(20) rotate(45deg);
    opacity: 0.3;
  }

  90% {
    transform: scale(35) rotate(45deg);
    opacity: 0.1;
  }

  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}