

.game-window {
  &:hover {
    .feedback-box {
      color: oklch(from var(--infoColorPalette) l c h / 0.9);
      text-shadow: -2px 4px 5px oklch(from var(--infoColorPalette) l c h / 0.7),
        -4px 8px 7px oklch(from var(--darkColorPalette) l c h / 0.7);
      transition: color 350ms;
    }
  }
}
