@use "../abstract/mixins" as m;
@use "../abstract/functions" as f;
@use "../components/battle-area";

%o-gradient-frame {
  @include m.gradient-frame(
    oklch(from var(--whiteColorPalette) l c h / 0.53),
    oklch(from var(--shadowsColorPalette) l c h / 0.53)
  );
}

.movement-selection-panel {
  @include m.flex(space-between, row);
  grid-area: 3 / 1 / 4 / -1;
  position: relative;
  isolation: isolate;

  @include m.fluid-size(70%, 95%);
  @include m.margin-padding(0 auto 2.5vh auto, 0.25rem);
  transition: 500ms ease-in-out;
  @extend %o-gradient-frame;

  // Konfiguracja glow-panel z niestandardową listą cieni
  --final-drop-shadow: none;
  --panel-border-color-base: var(--shadowsColorPalette);
  --panel-border-opacity: 0.45;
  
  // Bezpośrednie nadpisanie finalnego cienia
  --final-box-shadow: 
    inset -8px -8px 12px 5px oklch(from var(--whiteColorPalette) l c h / 0.25),
    inset 12px 12px 10px 5px oklch(from var(--darkColorPalette) l c h / 0.45),
    inset 0px 0px 10px 15px oklch(from var(--darkColorPalette) l c h / 0.1);

  &::after {
    content: ""; 
    position: absolute;
    inset: 0;
    margin: 0 0.5em 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-family: f.font("body");
    text-shadow: -2px 2px 4px oklch(from var(--whiteColorPalette) l c h / 0.5);
    text-transform: uppercase;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: transparent;
    // Poprawione wywołanie koloru
    background: oklch(from var(--darkColorPalette) l c h / 0.9);
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: -3px 4px 3px oklch(from var(--infoColorPalette) l c h / 0.9);
  }
}

.btn {
  @include m.margin-padding(2vmin min(0.5vmin, 1%), 1vmin);
  position: relative;
  color: transparent;
  font-size: 16px;
  background: transparent no-repeat center / contain;
  @extend .character-movement--player;
  @extend %u-base-interaction;

  &:hover::before {
    // transform: skewX(45deg) translateX(-30vw);
  }
}