@use "../abstract/mixins" as m;
@use "../abstract/functions" as f;

.score-board {
  @include m.fluid-size(60%, 100%);
  @include m.flex(space-between, row, start);
  grid-area: 1 / 1 / 2 / -1;
  z-index: -11;
}

.score-box {
  font-size: 10em;
  color: transparent;
  background: oklch(from var(--darkColorPalette) l c h / 0.9);
  background-clip: text;
  text-shadow: -4px 8px 7px oklch(from var(--whiteColorPalette) l c h / 0.7);
  position: relative;
  top: -2vh;
}